.screen {
    margin: 20px auto;
    width: 95%;
    background-color: $screen-default-bg-color;
    border-radius: $screen-border-radius;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.65);

    @include media($sm) {
        width: $screen-sm-width;
    }
}